header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
header nav a {
  text-decoration: none;
  color: black;
}
