header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-evenly;
    width: 30%;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
