header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  background: @primary;
  padding: 2.5%;

  h2 {
    color: white;
    //text-shadow: 1px 1px black; // possibly delete
    border-bottom: 2px solid @secondary;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    width: 30%;

    a {
      text-decoration: none;
      color: white; // was @dark before I made the bg color @primary
      //text-shadow: 0.5px 0.5px black; // possibly delete
    }
  }
  @media @phone {
    flex-direction: column;
    align-items: center;

    nav {
      width: 100%;
      flex-direction: column;

      a {
        border-bottom: 1px solid @secondary;
      }
    }
    h2 {
      width: 100%;
      text-align: center;
    }
  }
}
