.image-top {
  width: 100%;
  height: 60vh;

  img {
    object-fit: scale-down;
    object-position: 50% 15%;

    @media @phone {
      object-fit: cover;
      object-position: 100% 15%;
    }
  }

  @media @phone {
    height: 33vh;
  }
}

.content-section {
  width: 90%;
  display: flex;
  padding: 2.5% 0;
  margin: 2.5% 0;
  border-bottom: 2px solid @secondary;

  @media @phone {
    flex-direction: column;
  }
}
.pitch {
  flex-direction: row;
  justify-content: space-between;

  @media @phone {
    flex-direction: column;
  }

  h2 {
    width: 100%;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .button {
      text-decoration: none;
      color: white;
      background: @primary;
      width: 100%;
      margin: 5% 0;
      border-radius: 10px;
      max-height: 50px;
      max-width: 200px;
      line-height: 1;

      @media @phone {
        max-width: 100%;
      }
    }
  }
}
.reverse-content {
  flex-direction: row-reverse;

  @media @phone {
    flex-direction: column;
  }
}

.text-content {
  width: 100%;
  padding: 0 2.5%;
}
