// Colors
@primary: #0066cc;
@secondary: #868e96;
@dark: #343a40;

// Font info
@standard-font-size: 2rem; //1.65rem;
@font-fam: "Roboto", sans-serif;

// Media Queries
@phone: ~"screen and (max-device-width: 840px)";
@narrow: ~" screen and (max-width: 1000px)";
@realNarrow: ~" screen and (max-width: 650px)";
